#nav ul{
text-align:center;
}

#nav li{
  display:inline-block;
  padding: 5px;
}

#nav li :hover {
  color: red;
}

body {
  font-family: sans-serif;
}

img {
  align-items: center;
}

h1, h2, h3 {
  text-align: center;
  line-height: 0.5;
}

ul {
  text-align: center;
  list-style: none;
}

li {
  font-size: 16;
}

p {
  text-align: center;
}
